.title_jq{
    background-color: black;
    color:#fff;
    cursor: pointer;
}
.ttext{
    cursor: pointer;;
}
.h3_e{
    cursor: pointer;
}
.t_alert{
    cursor: pointer;
}
.form_css input{
   
}
.fadeIn img{
height: 300px;
width:300px;
}

.textAnimation{
}